@model WebApp.Areas.Admin.ViewModels.AmountUnit.AmountUnitIndex

@{
    ViewData["Title"] = @App.Resources.Areas.Admin.AmountUnit.Index.HeadTitle;
}


<div class="d-flex">

    <!-- Navigation -->
    <partial name="_AdminNavbar"/>

    <!-- Amount Unit Section -->
    <section class="gallery container-fluid">
        <div class="header-section">

            <!-- Add New Amount Unit -->
            <div class="row add-card-row d-flex justify-content-center">
                <div class="col-lg-12 add-card-container mb-4">

                    <a asp-area="Admin" asp-controller="AmountUnit" asp-action="Create" class="card card-add-button h-100">
                        <div class="card-body align-self-center d-flex justify-content-center">

                            <!-- Add Button Image-->
                            <img class="image-header align-self-center" src="~/assets/icons/add.png" alt="image">

                        </div>
                    </a>

                </div>
            </div>
        </div>


        <!-- Wrong Response From Backend -->
        @if (Model.Error != null)
        {
            <div class="alert alert-danger text-center mb-5">@(Model.Error.ErrorMessage)</div>
        }

        <!-- Amount Unit Cards -->
        <div class="row card-row">
            @for (var x = 0; x < Model.AmountUnitModels.Count; x++)
            {
                <div class="card-data col-lg-3 mb-4">

                    <div class="card h-100">
                        <div class="card-body">

                            <!-- Amount Unit Data -->
                            <h5 class="card-title fs-4 text-center">@Model.AmountUnitModels.ElementAt(x).Name</h5>
                            <hr class="hr-top"/>
                            <p class="card-text" style="margin-bottom: 0;">@App.Resources.Areas.Admin.AmountUnit.Index.WithIngredient: @Model.AmountUnitModels.ElementAt(x).UsageWithIngredientsCount</p>
                            <p class="card-text">@App.Resources.Areas.Admin.AmountUnit.Index.WithDrinks: @Model.AmountUnitModels.ElementAt(x).UsageWithDrinksCount</p>

                            <!-- Actions To Modify Data -->
                            <div class="card-btn-container text-center">
                                
                                @{ var index = x; }
                                
                                <a asp-area="Admin" asp-controller="AmountUnit" asp-action="Edit" asp-route-id="@Model.AmountUnitModels.ElementAt(index).Id" class="btn btn-modify fs-5 btn-sm">@App.Resources.Areas.Admin.AmountUnit.Index.Modify</a>
                                
                                @if (Model.AmountUnitModels.ElementAt(x).UsageWithDrinksCount == 0 && Model.AmountUnitModels.ElementAt(x).UsageWithIngredientsCount == 0)
                                {
                                    <a asp-area="Admin" asp-controller="AmountUnit" asp-action="Delete" asp-route-id="@Model.AmountUnitModels.ElementAt(index).Id" class="btn btn-delete fs-5 btn-sm">@App.Resources.Areas.Admin.AmountUnit.Index.Delete</a>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
</div>


<style scoped>

  .header-section {

    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;

  }

  .gallery {

    width: 100%; 
    margin-left:300px;
    position:relative;
    padding-bottom: 100px;
    background-color: #151515;
    min-height: 100vh;

  }

  .card-row {

    margin-left: 50px; 
    margin-right: 50px;

  }

  .card {
    
    margin-top: 50px

  }

  .btn-delete {

    border-color: black;
    color: black;
    background-color: white;
    width: 45%; 
    height: 40px; 
    margin-top: 20px; 
    margin-bottom: 20px;

  }

  .btn-modify {

    border-color: rgba(0, 174, 255, 0.582);
    color: black;
    background-color: white;
    width: 45%; 
    height: 40px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    
  }

  .btn-delete:hover {

    background-color: black;
    color: white;

  }

  .btn-modify:hover {

    background-color: rgba(0, 174, 255, 0.582);
    color:white;

  }

  .card-text {

    margin-top: 20px;
    text-justify: inter-word; 
    text-align: justify;
    margin-bottom: 50px;

  }

  .card-btn-container {

    position: absolute;
    bottom: 0;
    width: 90%;

  }

  .card:hover {

    border: 2px solid black;

  }

  .image-header {

    height: 50px;

  }

  .hr-top {

    margin-top: 5px;

  }

  .card-add-button:hover {

    background-color: greenyellow;

  }

  .card-add-button {

    border: 2px solid black;

  }

  .add-card-row {

    padding-top: 100px;
    padding-bottom: 150px;
    margin-bottom: 15px;
    height: 50px;

  }

  .add-card-container {

      width: 30%;
      height: 100px;

  }

</style>